@import "ionic.css";

loader{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
  font-size:80px;
}

.song_info .title{
  font-family: fantasy;
}
.avatar:hover{
  border:1px dotted transparent;
}
.artist{
  display:inline-block;
}
.artist-info{
  position:absolute;
  background-color:white;
  border-radius: 20px;
}
.artists{
  display:inline-block;
}
.record{
  text-align: center;
}
.record .button-icon{
  font-size:xx-large;
}
.float-right{
  float:right;
}
.play{
}
.ion-play:hover{
  color:#519f6b!important;
}
.ion-plus:hover{
  color:#26a3e4!important;
}
.inline{
  display:inline!important;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.song_alias{
  color:lightGray;
}
.avatar{
  border-radius:100%;
  width:10vh;
  height:10vh;
  cursor: pointer;
}

.comment{
  display:block;
}
.item-icon-center{
  text-align: center;
}
.alias{
  font-weight: bold;
}
.artist_statement{
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: 2.0em;
  font-weight: bold;
}
.artist_alias{
  font-size: 6.0em;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.artist_song{
  background-color:transparent;
}
.song-header{
  cursor: pointer;
}
.song-header:hover{
  background-color:#519f6b!important;
  background-opacity: .2;
}
.comment .text:before{
  content:":";
}
.cinema{
  background-color:black;
}
.cinema video{
    pointer-events: none;
}
.close{
  cursor:pointer;
}
.close:hover{
  color:red;
}
.enqueue{
  position: absolute;
  right:20px;
  top:33px;
  padding-left: 11px;
}
.song{
}
.song_title{

  font-family: fantasy;
  cursor:pointer;
  color:black!important;
  line-height:20px;
  font-size:20px;
  }
.song_title:hover{
  color:#519f6b!important;
}
.song_avatar{
  padding: 4px;
}
.song_title:hover:after{
  content:"\f215"!important;
  color:#519f6b!important;
  font-family: "Ionicons";
  position: relative;
  left:10px;
}


.alias:hover{
  color:#26a3e4!important;
  cursor:pointer;
}

.comments{
  float:left;
}
.item{
  border-style:none!important;
}
.info{
  white-space: pre!important;
}

.comment{
  white-space:pre-line!important;
}

.right{
  float:right;
}
.when-large {
	  @media (max-width: 768px) {
      display:none;
	  }
	}
.when-small {
	  @media (min-width: 768px) {
      display:none;
	  }
	}
.always{
  display:inline!important;
}
.transmit {
        animation:myfirst 5s;
      -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
      }


      @-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:purple;}
    50%  {background:teal;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:aliceblue;}
    50%  {background:white;}
    100%   {background:aliceblue;}
    }
