@import "ionic.css";

loader{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
  font-size:80px;
}
.avatar{
  border-radius:100%;
  width:100px;
  height:100px;
}
.comment{
  display:block;
}
.item-icon-center{
  text-align: center;
}
.alias{
  font-weight: bold;
}
.comment .text:before{
  content:":";
}
