@import "ionic.css";

loader{
  position:absolute;
  top:50%;
  left:50%;
  margin:auto;
  font-size:80px;
}

.song_info .title{
  font-family: fantasy;
}
.artist{
  display:inline-block;
}
.artist-info{
  position:absolute;
  border-radius: 20px;
  background-color:white;
  padding:20px;
  opacity: .8;
  pointer-events: none;}
.artists{
  display:inline-block;
}
.record{
  text-align: center;
}
.record .button-icon{
  font-size:xx-large;
}
.float-right{
  float:right;
}
.play{
}
.ion-play:hover{
  color:#519f6b!important;
}
.ion-plus:hover{
  color:#26a3e4!important;
}
.inline{
  display:inline!important;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.song_alias{
  color:skyblue;
}
.song_alias:hover{
  color:#26a3e4!important;
  cursor: pointer;
}


.avatar{
  border-radius:100%;
  width:100px!important;
  height:100px!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.avatar:hover{
/*  width:200px;
  height:200px;
  border:1px dotted transparent;
*/}


.comment{
  display:block;
}
.item-icon-center{
  text-align: center;
}
.alias{
  font-weight: bold;
}
.artist_statement{
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 2.0em;
  font-weight: bold;
}
.artist_alias{
  font-size: 6.0em;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.artist_song{
  background-color:transparent;
}
.song-header{
  cursor: pointer;

}
.song-header:hover{
  /*
  background-color:#519f6b!important;
  background-opacity: .2;*/
}
.comment .text:before{
  content:":";
}
.cinema{
  background-color:black;
}
video::-webkit-media-controls-fullscreen-button {
    display: none;
}
.cinema video{
    opacity:50%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    }
.close{
  cursor:pointer;
}
.close:hover{
  /*
  color:red;*/

}
.enqueue{
  position: absolute;
  right:20px;
  top:33px;
  padding-left: 11px;
}
.song{
}
.song_time{
  font-size: 10px;
  padding-right:10px;
  position: absolute;
  right:10px;
  top:20px;
}
.song_title{
  cursor:pointer;
  color:gray;
  line-height:50px;
  font-size:17px!important;
  }
  .song_title:hover{
    // color:#519f6b!important;
    }

.avatar{
}
.song_heading{
}
.song_heading {
    color:gray;
    background-color: #d9edf7!important;
}
.card{
  border-radius: 5px;
  border-color:#d9edf7;
}

.alias:hover{
  // color:#26a3e4!important;
  // cursor:pointer;
}

.comments{
  float:left;
}
.item{
  border-style:none!important;
}
.comment{
  white-space:pre-line!important;
}

.right{
  float:right;
}
.when-large {
	  @media (max-width: 768px) {
      display:none;
	  }
	}
.when-small {
	  @media (min-width: 768px) {
      display:none;
	  }
	}
.ion-minus:hover{
  // color:red!important;
}
.always{
  display:inline!important;
}
.playlist-item{
  cursor:pointer;
}
.active,.playing{
  background-color:#D6EBE0!important;
}
.transmit {
        animation:myfirst 5s;
      -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
      }


      @-moz-keyframes myfirst /* Firefox */
    {
    0%   {background:purple;}
    50%  {background:teal;}
    100%   {background:red;}
    }

        @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    0%   {background:aliceblue;}
    50%  {background:white;}
    100%   {background:aliceblue;}
    }
