html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The SongCtrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{artist.alias}}')
      ion-content(has-header='true', padding='true')
        loader
        img(height='200px',ng-src='{{artist.avatar}}')
        img(ng-src='{{artist.banner}}')
        h2 {{artist.alias}}
        p {{artist.statement}}
        ion-list
          ion-item.item-thumbnail-left(ng-repeat='song in songs|reverse')
            img(ng-src='{{song.artist.avatar}}')
            h2 {{song.title}}
            p {{song.blurb}}
            button(ng-click='listen(song)') listen
            ion-list(ng-repeat='comment in song.comments')
              img(ng-src='{{comment.author.avatar}}')
              p {{comment.author.alias}}
              p {{comment.comment}}
