html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The SongCtrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{artist.alias}}')
      ion-content(has-header='true', padding='true',overflow-scroll="true",style='background-image:url("{{artist.wall}}")')
        loader
        span.text-center
          img.avatar(ng-src='{{artist.avatar}}?default=404',err-src='img/song-a-day.png',alt='{{song.artist.alias}}')
          h1.artist_alias.when-large {{artist.alias}}
          p.artist_statement {{artist.statement}}
        .row.responsive-md
          .list.col-50.col-offset-25
            .item.artist_song(ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"')
                
