html
  body
    ion-view(view-title='songwriters')
      ion-content(has-header='true', padding='true',overflow-scroll="true",)
        loader
        ion-list(show-reorder='shouldShowReorder')
          ion-item.item-thumbnail-left(ng-if='artist.songs | length',ng-repeat='artist in artists',ng-click='showArtist(artist)')
            img.avatar(ng-src='{{artist.avatar}}')
            h2 {{artist.alias}}
            p {{artist.statement}}
            p {{songCount(artist.songs)}}
