html
  body
    ion-view(view-title='Songwriters')
      ion-content(has-header='true', padding='true',overflow-scroll="true",)
        loader
        ul.list
          li.item.item-thumbnail-left(ng-repeat='artist in artists | orderBy:"songs | length":true',ng-click='showArtist(artist)',ng-show='artist.songs')
            img.avatar(ng-src='{{artist.avatar}}?default=404',err-src='img/song-a-day.png',alt='{{artist.alias}}',ng-click='showArtist(artist.$id)')
            span.artist_index_alias
              span {{artist.alias}} 
              span.when-large.float-right.song-count {{artist.songs|length}}

          
