html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The SongCtrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{artist.alias}}')
      ion-content(has-header='true', padding='true',overflow-scroll="true",style='background-image:url("{{artist.wall}}")')
        loader
        span
          h1.artist_alias {{artist.alias}}
          p.artist_statement {{artist.statement}}
        ion-list
          ion-item.artist_song.item-thumbnail-left(ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"')
