html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The SongCtrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{artist.alias}}')
      ion-content(has-header='true', padding='true',overflow-scroll="true")
        loader
        img.avatar(height='150px',ng-src='{{artist.avatar}}')
        img(ng-src='{{artist.banner}}')
        h2.alias {{artist.alias}}
        p.statement {{artist.statement}}
        ion-list
          ion-item.item-thumbnail-left(ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"',ng-click='queue(song)')
