html
  body
    ion-view(view-title='songwriters')
      ion-content(has-header='true', padding='true')
        loader
        ion-list(show-reorder='shouldShowReorder')
          ion-item.item-thumbnail-left(ng-if='artist.songs | length',ng-repeat='artist in artists|reverse')
            img(ng-src='{{artist.avatar}}')
            h2 {{artist.alias}}
            p {{artist.statement}}
            p {{songCount(artist.songs)}}
            button(ng-click='navigate(artist)') listen
