html
  body
    ion-view(view-title='songwriters')
      ion-content(has-header='true', padding='true',overflow-scroll="true",)
        loader
        ul.artists
          li.artist(ng-show='artist.songs',ng-mouseleave="showArtistInfo = false",ng-mouseenter='showArtistInfo = true',ng-repeat='artist in artists | orderBy:"songs | length":true',ng-click='showArtist(artist)')
            img.avatar(ng-src='{{artist.avatar}}?default=404',err-src='img/song-a-day.png')     
            .artist-info(ng-show='showArtistInfo')       
              h2 {{artist.alias}}
              p {{artist.statement}}
              p {{artist.songs|length}} Songs
