ion-list
  ion-item(ng-repeat='comment in song.comments')
    .comment.item-input
      span.alias {{comment.author.alias}}
      span.text {{comment.comment}}
  ion-item(ng-show='loggedIn')    
    label.item.item-input
      input(type='text',ng-model='newComment',placeholder='comment...',enter-submit='comment(song,newComment);newComment=""')
