ion-list
  span(ng-repeat='comment in song.comments')
    p.comment 
      span.alias {{comment.author.alias}}
      span.text {{comment.comment}}
  label.item.item-input(ng-show='loggedIn')
    input(type='text',placeholder='comment...',ng-model='newComment',enter-submit="comment(song,newComment)")
