html
  body
    //
        This template loads for the 'tab.about' state (app.js)
    ion-view(view-title='Mission')
      ion-content(has-header='true', has-tabs='true', padding='true')
        .jumbotron
          h1 Songs Every Day ♬
          br
          p
            | Woody Guthrie and Bob Marley woke up early and wrote songs. We challenge you to do the same, every day.
          h2
            | Rules:
          ul
            li
              h4
                | One Fresh Song Per Day
          |       Any questions contact 
          a(href='mailto:songadayforamonth@gmail.com', target='_top')
            | songadayforamonth@gmail.com
          br
          br 
          p Active during Janruary and July.
          small
            | © Artists own their songs.
