videogular(vg-player-ready="ctrl.onPlayerReady($API)")
  vg-media(vg-src='ctrl.config.sources',vg-auto-play='true', vg-tracks='ctrl.config.tracks')
  vg-volume
    vg-mute-button
    vg-volume-bar
  vg-buffering
  vg-controls
