html
  body
    ion-view(view-title='Playlists')
      ion-content(overflow-scroll="true",has-header='true', padding='true')
        loader
        ion-list
          ion-item.item-thumbnail-left(ng-repeat='playlist in playlists',ng-click='showPlaylist(playlist)')
            h1 {{playlist.title}} 
            h2.float-right {{playlist.count}} songs
             
          ion-item.item-thumbnail-left 
            span.button.button-light(ng-click='modal.show()',ng-if='currentQueue().length > 0 && loggedIn') Save Queue
          
            
