html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The Ctrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{playlist.title}}')
      ion-content(has-header='true', padding='true',overflow-scroll="true")
        loader
        button.button.button-light(ng-click='clearQueue()') Clear Queue
        button.button.button-light(ng-click='playAll()') Play all songs in {{playlist.title}}
        ion-list
          ion-item.playlist_song.item-thumbnail-left(ng-include="'templates/song-item.html'",ng-repeat='song in songs')
