ion-modal-view
    ion-header-bar
      h1.title recording your song
    ion-content.text-center
      p
        | hello! if you'd like to record your song here, you have a couple options.
        | You can use google chrome, or I can add you to the beta testers for the iphone app.
        | If you have an android, the android app is available here in the store:
      a(href='https://play.google.com/store/apps/details?id=paulwand.SongADay') android
      button.button.button-light(ng-click='joinBeta()') save
