html
  body
    ion-view(view-title='songs')
      ion-content(overflow-scroll="true",has-header='true', padding='true')
        loader
        ion-list
          ion-item.item-thumbnail-left(ng-click='queue(song)',ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"')
