img.avatar(ng-src='{{song.artist.avatar}}?default=404',err-src='img/song-a-day.png',alt='{{song.artist.alias}}',ng-click='showArtist(song.artist.key)')
button.button.button-icon.icon.ion-play.play.float-right(ng-click='play(song)')
button.button.button-icon.icon.ion-plus.enqueue.float-right(ng-click='queue(song)')
.song_info(ng-click='showSong(song)') 
  h1.song_title.when-large {{song.title}}  
  h2.song_title.when-small {{song.title}}  
  p {{song.info}}
  p.item-icon-right(am-time-ago='song.timestamp').when-large
.comments(ng-include="'templates/comments.html'")
