.card.song
  .item-divider
    span
      img.song_avatar.avatar(ng-src='{{song.artist.avatar}}?default=404',err-src='img/song-a-day.png',alt='{{song.artist.alias}}',ng-click='showArtist(song.artist.key)')
      span.song_title(ng-click='play(song)') {{song.title}}
      button.float-right.button.button-clear.button-icon.ion-plus.enqueue(ng-click='queue(song)') 
  .item
    h2.song_info   
      pre {{song.info}}      
    .comments(ng-include="'templates/comments.html'")
