img.avatar(ng-src='{{song.artist.avatar}}?default=404',err-src='/assets/img/song-a-day.png',alt='{{song.artist.alias}}',ng-click='showArtist(song.artist.key)')
h2 {{song.title}}
p {{song.blurb}}
.item-icon-right.abbr(am-time-ago='song.timestamp')
.comments(ng-include="'templates/comments.html'")
