html
  body
    ion-view(view-title='Songs',when-scrolled="loadMore()")
      ion-content(overflow-scroll="true",has-header='true', padding='true')
        loader
        ion-list
          ion-item.item-thumbnail-left(ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"')
          ion-item.item-thumbnail-left 
            button.button.button-light(ng-click='loadMore()') more songs
            
