html
  body
    ion-view(view-title='Songs',when-scrolled="loadMore()")
      ion-content(overflow-scroll="true",has-header='true', padding='true')
        loader
        .row.responsive-md
          .list.col-50.col-offset-25
            .item(ng-include="'templates/song-item.html'",ng-repeat='song in songs |orderBy:"-timestamp"')
            .item.text-center
              button.button.button-light(ng-click='loadMore()',ng-show='!loading') more songs
              button.button.button-light(ng-click='playAll()',ng-show='!loading') play all
                
