html
  body
    //
        This template loads for the 'tab.song-detail' state (app.js)
        'song' is a $scope variable created in the SongCtrl controller (controllers.js)
        The SongCtrl pulls data from the Songs service (service.js)
        The Songs service returns an array of song data
    ion-view(view-title='{{song.title}}')
      ion-content(has-header='true', padding='true')
        button.button.button-icon.icon(ng-click='showArtist(song.artist.key)')
          img.avatar(height='200px',ng-src='{{song.artist.avatar}}')
        h2 {{song.title}}
        p {{song.info}}
        button.button.button-icon.icon.ion-play(ng-click='play(song)')
        .comments(ng-include="'templates/comments.html'")
        input.comment(ng-model='newComment')
        button.button(ng-click='comment(song,newComment)',ng-enter='comment(song,newComment)') comment
