html
  body
    ion-view(view-title='Transmit')
      ion-content.transmit(has-header='true', padding='true')
        loader
        div(ng-if='!loggedIn')
          button(ng-click='login();loading=true') log in
        div(ng-if='transmitted')
          h1 Todays Transmission:
          ion-item.item-thumbnail-left(ng-include="'templates/song-item.html'")
        div(ng-hide='song',ng-if='loggedIn && !transmitted')
          h2 Transmit a song
          label.item.item-input.item-input-inset
            h1.input-label Title
            input(ng-model='transmission.title',type='text',placeholder='song title')
          label.item.item-input.item-input-inset
            h1.input-label Info
            input(ng-model='transmission.info',type='text',placeholder='song information')
          label.item.item-input.item-input-inset
            span.input-label Media
            div(s3-accept='audio/*' ,theme='audio',s3-upload, bucket='s3Bucket', ng-model='media', s3-upload-options='{ acl:"private",getOptionsUri: awsParamsURI, folder: awsFolder}')
            p {{media}}
          button.button.button-light.transmit(ng-show='ready && !transmitted && !transmitting',ng-click='transmit(transmission)')
            | Transmit
        button.button.button-assertive.revoke(ng-show='transmitted',ng-click='revoke()')
          | Revoke
